:root,
html[data-svg-gradient='theme-one'] {
  --stop-color-one: #003f5b;
  --stop-color-two: #2b4b7d;
  --stop-color-three: #5f5195;
  --stop-color-four: #98509d;
  --stop-color-five: #cc4c91;
  --stop-color-six: #f25375;
  --stop-color-seven: #ff6f4e;
  --stop-color-eight: #ff9913;
}

html[data-svg-gradient='theme-two'] {
  --stop-color-one: #142850;
  --stop-color-two: #14365f;
  --stop-color-three: #13476f;
  --stop-color-four: #125d80;
  --stop-color-five: #107792;
  --stop-color-six: #0d96a5;
  --stop-color-seven: #09b8b4;
  --stop-color-eight: #04ccb1;
}
html[data-svg-gradient='theme-three'] {
  --stop-color-one: #f7ff0a;
  --stop-color-two: #ffd000;
  --stop-color-three: #ffa026;
  --stop-color-four: #ff7144;
  --stop-color-five: #f9455b;
  --stop-color-six: #d71c6d;
  --stop-color-seven: #ab0478;
  --stop-color-eight: #77107b;
}
html[data-svg-gradient='theme-four'] {
  --stop-color-one: #ffdf42;
  --stop-color-two: #ffcb2a;
  --stop-color-three: #ffb60e;
  --stop-color-four: #ffa000;
  --stop-color-five: #ff8900;
  --stop-color-six: #ff6f00;
  --stop-color-seven: #ff5000;
  --stop-color-eight: #ff2212;
}
html[data-svg-gradient='theme-five'] {
  --stop-color-one: #b70c00;
  --stop-color-two: #c10020;
  --stop-color-three: #c6003a;
  --stop-color-four: #c50055;
  --stop-color-five: #bd0073;
  --stop-color-six: #aa0093;
  --stop-color-seven: #8c00b2;
  --stop-color-eight: #5900cd;
}
html[data-svg-gradient='theme-six'] {
  --stop-color-one: #f7ff0a;
  --stop-color-two: #ffd000;
  --stop-color-three: #ffa026;
  --stop-color-four: #ff7144;
  --stop-color-five: #f9455b;
  --stop-color-six: #d71c6d;
  --stop-color-seven: #ab0478;
  --stop-color-eight: #77107b;
}
html[data-svg-gradient='theme-seven'] {
  --stop-color-one: #ffe5ce;
  --stop-color-two: #ffd0ba;
  --stop-color-three: #ffb9b0;
  --stop-color-four: #ffa2b0;
  --stop-color-five: #fd8dba;
  --stop-color-six: #ec7cca;
  --stop-color-seven: #cd72de;
  --stop-color-eight: #9c71f2;
}
html[data-svg-gradient='theme-eight'] {
  --stop-color-one: #7d0928;
  --stop-color-two: #962521;
  --stop-color-three: #ad3e0f;
  --stop-color-four: #c15900;
  --stop-color-five: #d27500;
  --stop-color-six: #de9200;
  --stop-color-seven: #e6b100;
  --stop-color-eight: #e8d103;
}

#rainbow stop {
  transition: stop-color 5s ease-in-out, offset 6s ease-in-out;
}
