@use 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-serif: var(--font-irn);
  --font-sans: var(--font-josefin-sans);
  --font-mono: var(--font-fira-code);
  --color-blue-100: #669ad1;
  --color-blue-200: #4d89ca;
  --color-blue-300: #3378c2;
  --color-blue-400: #1a67bb;
  --color-blue-500: #0056b3;
  --color-blue-600: #00458f;
  --color-blue-700: #00346b;
  --color-blue-800: #002248;
  --color-blue-900: #001124;
  --color-rose-100: #cf6b8b;
  --color-rose-200: #c75277;
  --color-rose-300: #bf3964;
  --color-rose-400: #b72150;
  --color-rose-500: #af083d;
  --color-rose-600: #8c0631;
  --color-rose-700: #690525;
  --color-rose-800: #460318;
  --color-rose-900: #23020c;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #cdcdcd;
  --color-neutral-300: #b8b8b8;
  --color-neutral-400: #a4a4a4;
  --color-neutral-500: #8b8b8b;
  --color-neutral-600: #6c6c6c;
  --color-neutral-700: #4d4d4d;
  --color-neutral-800: #2e2e2e;
  --color-neutral-900: #0f0f0f;
}

@layer base {
  html {
    font-size: 18px;
  }

  .h1,
  h1,
  .h2,
  h2,
  .h3,
  h3,
  .h4,
  h4,
  .h5,
  h5,
  .h6,
  h6 {
    @apply font-serif;
    @apply font-medium;
    @apply tracking-wide;
    line-height: 1.2;
  }

  .h1,
  h1 {
    @apply text-6xl;
    @apply mb-4;
  }
  .h2,
  h2 {
    @apply text-4xl;
    @apply mb-4;
  }
  .h3,
  h3 {
    @apply text-2xl;
    @apply mb-2;
  }
  .h4,
  h4 {
    @apply text-lg;
    @apply mb-2;
  }
  .h5,
  h5 {
    @apply text-base;
    @apply mb-2;
  }
  .h6,
  h6 {
    @apply text-sm;
    @apply mb-2;
  }

  code,
  pre {
    @apply text-sm;
    @apply font-mono;
  }

  /* Improve text readability */
  p {
    max-width: 65ch;
  }
}
