@use 'tailwindcss';
@use '../../public/fonts/fonts.css';

@theme {
  --font-serif: 'Ibarra Real Nova', serif;
  --font-sans: 'Josefin Sans', sans-serif;
  --font-mono: 'Fira Mono', monospace;
}

@layer base {
  html {
    font-size: 18px;
  }

  body {
    @apply font-sans;
    @apply text-neutral-900;
    @apply antialiased;
    @apply font-light;
  }

  .h1,
  h1,
  .h2,
  h2,
  .h3,
  h3,
  .h4,
  h4,
  .h5,
  h5,
  .h6,
  h6 {
    @apply font-serif;
    @apply font-medium;
    @apply tracking-wide;
  }

  .h1,
  h1 {
    @apply text-6xl;
    @apply mb-4;
  }
  .h2,
  h2 {
    @apply text-4xl;
    @apply mb-4;
  }
  .h3,
  h3 {
    @apply text-3xl;
    @apply mb-2;
  }
  .h4,
  h4 {
    @apply text-2xl;
    @apply mb-2;
  }
  .h5,
  h5 {
    @apply text-xl;
    @apply mb-2;
  }
  .h6,
  h6 {
    @apply text-base;
    @apply mb-2;
  }

  code,
  pre {
    @apply text-sm;
    @apply font-mono;
  }
}
